@import 'tailwindcss';
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer components {
	.vertical-center {
		height: calc(100vh - 64px);
	}
}

@theme {
	/* This defines the custom utility */
	--background-image-dark-gradient: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
/* app/globals.css */
html,
body {
	overflow-x: hidden; /* Prevent horizontal scrolling */
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
